<div class="container">
  <div class="card border-dark rounded-3">
    <div class="card-body bg-dark">

      <div class="card-header">
        <h1 class="text-center text-white bg-dark">F1 TEAMS</h1>
        <a [routerLink]="['/addteam']"><button class="btn btn-primary float-end text-dark" id="tmbtn"><span>
          <img src="./assets/car-icon.png" id="caricon"></span>Add Team</button></a>
      </div>  
       
    <table class="table table-dark text-white">
      <thead class="text-center"> 
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">TEAM NAME</th>
            <th scope="col">ENGINE MANUFACTURER</th>
            <th scope="col">CHASSIS</th>
            <th scope="col">CONSTRUCTOR POINTS</th>
            <th scope="col">DRIVERS</th>
            <th scope="col">UPDATE</th>
            <th scope="col">DELETE</th>
        </tr>
       </thead>  
       <tbody class="text-center border border-2 fs-5">
        <tr *ngFor=" let team of teams; index as i">
            <th scope="row">{{i + 1}}</th>
            <td><img src={{team.imgSrc}} class="" id="teamImg" alt="..."></td>
            <td class="fw-bold"><a [routerLink]="['/teams', team.id]">{{team.teamName}}</a></td>
            <td class="">{{team.engineManufacturer}}</td>
            <td>{{team.chassis}}</td>
            <td>{{team.constructorPoints}}</td>
            <td>
                <div *ngFor=" let driver of team.drivers">{{driver['name']}}</div>
            </td>
            <td><a [routerLink]="['/teams', team.id, 'updateteam']"><i class="bi bi-cloud-arrow-up"></i></a></td>
            <td><a><i class="bi bi-trash"></i></a></td>
        </tr>
       </tbody> 
    </table>
   </div>
  </div>
</div>

