.card{
    box-shadow: 0px 4px 8px 0px #1d1d1d, 0px 6px 20px 0 black;
    margin-top: -10px;
    margin-bottom: 30px;
}

input{
    margin-bottom: 15px;
}

#addteam{
    margin-top: 0px;
}

#ch{
    margin-top: -10px;
    margin-bottom: -20px;
}

#addteamimg{
    width: 28rem;
    margin-top: 10px;
    margin-left: 35px
}

#caricon{
    width: 9%;
    margin-top: -35px;
    margin-bottom: -30px;
    margin-left: -50px;
    margin-right: 10px;
}

#driverPoints{
    margin-bottom: 39px;
}